body {
  background-image: url(http://th06.deviantart.net/fs71/PRE/f/2013/048/b/9/kraken_unleashed_v3_by_papercutillustration-d5v4r2l.jpg);
  background-size: 100%;
}

.jumbotron {
    background-color: #c68f4c !important;
    opacity: .7;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 20pt;
}

.sidebar {
  display: block;
  box-sizing: content-box;
  float: right;
  width: content;
  padding: 25px;
  border: 10px;
  margin-top: 5pt;
  /* margin-left: 5%; */
}

.container {
padding: 2%;
border: 2%;
}

.btn-cust {
  background-color: #d3b090;
  margin: 15%;
}

.btn-this-page {
  opacity: .4;
}

.fluff {
   word-wrap: normal;
   display: block;
   float: bottom;
   margin-left: 40%;
   width: 20%;
   color: #ef002c;
   text-shadow: 2pt 2pt #f78096;
   background: rgb(225,182,129,.5);
   height: content;
   /* transparent background workaround*/
}

blockquote {
  display: block;
  width: 30pt;
  float: left;
  padding-top: 3%;
}

a {
  display: block;
  align-content: center;
  margin-left: 40%;
  background-color: 225,255,255,.5;

}
